@model List<ZERO.Material.Model.Material_Info>

@{
    /**/
    Layout = "~/Views/Shared/BeforeLayout.cshtml";
}
<script src="~/Scripts/Jquery.Session.js"></script>
<div class="container">
    @if (Model == null)
    {
        @Html.Label($"未找到{@ViewBag.Title}");
        return;
    }
    <div class="col-md-12">
        <div class="panel panel-default col-md-12">
            <div class="panel-body">
                <span>
                    公司：
                </span>
                <span>
                    @foreach (var item in ViewBag.companies)
                    {
                        string url = $"Search?material={ViewBag.material}&company={item}&type={ViewBag.type}&index=0";
                        <button type="button" class="btn btn-link" onclick="location.href ='@url'">@item</button>
                    }
                </span>
            </div>
            <div class="panel-body">
                <span>
                    种类：
                </span>
                <span>
                    @foreach (var item in ViewBag.types)
                    {
                        string url = $"Search?material={ViewBag.material}&company={ViewBag.company}&type={item}&index=0";

                        <button type="button" class="btn btn-link" onclick="location.href='@url'">@item</button>
                    }
                </span>
            </div>
            @*<div class="panel-body">
                    <span>
                        规格：
                    </span>
                    <span>
                        @foreach (var item in ViewBag.sizes)
                        {
                            <button type="button" class="btn btn-link">@item</button>
                        }
                    </span>
                </div>*@
        </div>

        @foreach (var item in Model)
        {
            <div class="panel panel-default col-md-12">
                <div class="panel-body">

                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 20%; text-align: center">
                                    <img style="text-align: center" width="150" height="150" src="@item.Material_Image" />
                                </td>
                                <td style="width: 20%; text-align: center">
                                    <span style="font-size: 15px"> <strong>@Html.ActionLink(item.Material_Name.Replace("授权代理商", "").Replace("?", "™"), "MaterialInfo", new { @id = item.Material_Id })</strong></span>
                                </td>
                                <td style="width: 15%; text-align: center">
                                    <span style="font-size: 8px">@item.Material_Id</span>
                                </td>
                                <td style="width: 15%; text-align: center">
                                    <span style="font-size: 8px">@item.Company_Name</span>
                                </td>
                                <td style="width: 10%; text-align: center">
                                    <span style="font-size: 15px"> <strong>￥@item.Material_Price</strong></span>
                                </td>
                                <td style="width: 10%; text-align: center">
                                    <div class="input-group ">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-Add" type="button">+</button>
                                        </span>
                                        <input type="text" class="form-control count" value="0" style="padding: 0;text-align: center">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-Subs" type="button">-</button>
                                        </span>
                                    </div>
                                </td>
                                <td style="width: 10%; text-align: center">
                                    <span>
                                        <button class="btn btn-primary" type="button" onclick="location.href='../../Zero/Apply?id=@item.Material_Id&count='+$('.count').val()">申请</button><br /><br />
                                        <button style="margin-right: 0px" type="button" class="btn btn-default btn-danger btn-xs" onclick="AddMaterialCar('@item.Material_Id',$('.count').val())">加入我的器材</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span> </span>

                    <span>
                    </span>
                </div>
            </div>

        }
    </div>
    <div style="text-align: center; margin-bottom: 50px;">
        <ul class="pagination">
            <li><a href="Search?material=@ViewBag.Title&company=@ViewBag.company&type=@ViewBag.type&index=@(ViewBag.index - 1)">&laquo;</a></li>
            @for (int i = 0; i < ViewBag.total; i++)
            {
                if (i == ViewBag.index)
                {
                    <li class="active"><a href="Search?material=@ViewBag.Title&company=@ViewBag.company&type=@ViewBag.type&index=@i">@(i + 1)</a></li>
                }
                else
                {
                    <li><a href="Search?material=@ViewBag.Title&company=@ViewBag.company&type=@ViewBag.type&index=@i">@(i + 1)</a></li>
                }
            }
            <li><a href="Search?material=@ViewBag.Title&company=@ViewBag.company&type=@ViewBag.type&index=@(ViewBag.index + 1)">&raquo;</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">

    toastr.options.positionClass = 'toast-bottom-center';
    $('.count').on('input',
        function () {

            if (isNaN(this.value)) {
                alert("请输入数字");
                this.value = 0;
            }
        });

    $('.btn-Add').on('click', function () {
        var value = this.parentNode.nextElementSibling.value;
        value++;
        this.parentNode.nextElementSibling.value = value;
    });

    $('.btn-Subs').on('click', function () {
        var value = this.parentNode.previousElementSibling.value;
        value--;
        if (value < 0) {
            value = 0;
        }
        this.parentNode.previousElementSibling.value = value;
    });

    $('btn-company').on('click',
        function () {
            var url = "search?material=" + @ViewBag.Title + "_" + this.innerText + "&index=0";
            location.href(url);
        });

    function AddMaterialCar(material,count) {
        var info = { material,count}
        $.ajax({
            url: "../../Zero/MaterialCar",
            type: "POST",
            data: info,
            success: function(data) {
                toastr.success(data);
            }
        });
    }
</script>