@model ZERO.Material.Model.Material_Type

@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Material/Add.js"></script>
</head>
<body>
    <div style="padding: 50px; padding-left: 0;padding-bottom: 0">
        @using (Ajax.BeginForm("Add", "Type", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AfterSuccess" }, new Dictionary<string, object>() { { "class", "layui-form" }, { "lay-filter", "addForm" } }))
        {
            if (ViewBag.IsUpdate)
            {
                <input type="hidden" name="isUpdate" value="true" />
            }
            else
            {
                <input type="hidden" name="isUpdate" value="false" />
            }
            <div class="layui-form-item">
                @Html.LabelFor(m => m.Material_Type_Id, new { @class = "layui-form-label" })
                <div class="layui-input-block">
                    @if (ViewBag.IsUpdate)
                    {
                        @Html.TextBoxFor(m => m.Material_Type_Id, new { @class = "layui-input", @placeholder = "请输入种类编号", @readonly = "true" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Material_Type_Id, new { @class = "layui-input", @placeholder = "请输入种类编号" })
                    }
                </div>
            </div>
            <div class="layui-form-item">
                @Html.LabelFor(m => m.Material_Type_Name, new { @class = "layui-form-label" })
                <div class="layui-input-block">
                    @Html.TextBoxFor(m => m.Material_Type_Name, new { @class = "layui-input", @placeholder = "请输入种类名称" })
                </div>
            </div>
            <div class="layui-form-item">
                @Html.LabelFor(m => m.Material_Type_Remark, new { @class = "layui-form-label" })
                <div class="layui-input-block">
                    @Html.TextBoxFor(m => m.Material_Type_Remark, new { @class = "layui-input", @placeholder = "请输入备注" })
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        }
    </div>
</body>
</html>