@model List<ZERO.Material.Model.Material_Apply>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
</head>
<body>
    <div>
        <form class="layui-form" action="">
            <table class="layui-table" lay-size="lg">
                <tr>
                    <td style="text-align: right">教师编号</td>
                    <td>@Html.ValueFor(m => m[0].Teacher_Id)</td>
                </tr>
                <tr>
                    <td style="text-align: right">教师姓名</td>
                    <td>@Html.ValueFor(m => m[0].Teacher_Name)</td>
                </tr>
                <tr>
                    <td style="text-align: right">教师系别</td>
                    <td>@Html.ValueFor(m => m[0].Teacher_Depart)</td>
                </tr>
                <tr>
                    <td style="text-align: right">授课系别</td>
                    <td>@Html.ValueFor(m => m[0].Teach_Depart)</td>
                </tr>
                <tr>
                    <td style="text-align: right">授课专业</td>
                    <td>@Html.ValueFor(m => m[0].Teach_Field)</td>
                </tr>
                <tr>
                    <td style="text-align: right">使用时间</td>
                    <td>@Html.ValueFor(m => m[0].Start_Time)</td>
                </tr>
                <tr>
                    <td style="text-align: right">归还时间</td>
                    <td>@Html.ValueFor(m => m[0].End_Time)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="layui-table" lay-size="lg">
                            <thead>
                                <tr>
                                    <th>器材编号</th>
                                    <th>器材名称</th>
                                    <th>器材规格</th>
                                    <th>器材单位重量</th>
                                    <th>供应商</th>
                                    <th>申请数量</th>
                                    <th>采购数量</th>
                                    <th>审核</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var material in ViewBag.infos)
                                {
                                    <tr>
                                        <td>@material.Material_Id</td>
                                        <td>@material.Material_Name</td>
                                        <td>@material.Material_Size</td>
                                        <td>@material.Material_UnitWeight</td>
                                        <td>@material.Company_Name</td>
                                        <td>@Model.Find(m => m.Material_Id == material.Material_Id).Apply_Count</td>
                                        <td>@Model.Find(m => m.Material_Id == material.Material_Id).Needbuy_Count</td>
                                        <td id="@material.Material_Id">
                                            <button type="button" class="layui-btn layui-btn-lg layui-btn-normal" onclick="Check('@material.Material_Id')">审核</button>
                                            <input type="hidden" name="Head_Aduit" value="@Model.Find(m => m.Material_Id == material.Material_Id).Head_Aduit" />
                                            <input type="hidden" name="Head_Advice" value="@Model.Find(m => m.Material_Id == material.Material_Id).Head_Advice" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right">
                        <button type="button" class="layui-btn layui-btn-lg layui-btn-primary">审核完成</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <form id="checkForm" class="layui-form" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label">是否通过</label>
            <div class="layui-input-block">
                <input type="radio" name="aduit" value="1" title="通过">
                <input type="radio" name="aduit" value="2" title="驳回" checked>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">审批意见</label>
            <div class="layui-input-block">
                <textarea name="advice" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
    <script>
        function Check(id) {
            layui.use(['layer', 'form'],
                function () {
                    var layer = layui.layer;
                    var form = layui.form;
                    layer.open({
                        type: 1,
                        content: $('#checkForm'),
                        success: function () {
                            form.render();
                        },
                        btn: ['确定', '取消'],
                        yes: function (index, layero) {
                            var form = $('#checkForm')[0];
                            $("#" + id + ">input[name='Head_Aduit']").val(form.aduit.value);
                            $("#" + id + ">input[name='Head_Advice']").val(form.advice.value);
                            layer.close(index);
                        }
                    });
                });

            return false;
        }
    </script>
</body>
</html>