<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 实验耗材管理平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("实验耗材管理平台", "Index", "Zero", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right ">
                    <li id="loginLi">@Html.ActionLink("登录/注册", "BeforeLogin", "Login")</li>
                    <li id="userLi" class="nav-item dropdown hidden">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="small ml-1 d-md-down-none" id="userMsg" style="font-size: 16px; font-weight: bolder;">John Smith</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-left">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="../../Zero/Apply">我的器材</a>
                                <a role="menuitem" tabindex="-1" href="../../Zero/History">我的申请</a>
                                <a role="menuitem" tabindex="-1" href="#" onclick="$.cookie('userInfo', null, {path:'/'});location.reload();">注销</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: 10px;margin-bottom: 0">
            <div class="col-md-7">
                <img src="~/Image/logo.gif" style="height: 60px;width: 371px" />
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input id="txtMaterial" type="text" class="form-control" style="width: 100%;max-width: none">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnSearch">搜索</button>
                    </span>
                </div>
                <div>
                    <span>常用搜索：</span>
                    @Html.ActionLink("培养皿", "Search", "Zero", new { @material = "培养皿", @type = "", @company = "", @index = 0 }, new { @class = "btn btn-link" }) |
                    @Html.ActionLink("温度计", "Search", "Zero", new { @material = "温度计", @type = "", @comapny = "", @index = 0 }, new { @class = "btn btn-link" }) |
                    @Html.ActionLink("广口瓶", "Search", "Zero", new { @material = "广口瓶", @type = "", @comapny = "", @index = 0 }, new { @class = "btn btn-link" }) |
                    @Html.ActionLink("清洁刷", "Search", "Zero", new { @material = "清洁刷", @type = "", @comapny = "", @index = 0 }, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:azure;width: 100%">
        <div class="container">
            <ul class="nav nav-pills">
                <li>@Html.ActionLink("首页", "Index", "Zero")</li>
                <li>
                    @Html.ActionLink("实验器材", "MaterialInfos", "Zero")
                </li>
                <li>@Html.ActionLink("供应商", "Company", new { @index = 1 })</li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 实验耗材管理平台</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            SetTopMenu();
            $('#btnSearch').on('click',
                function () {
                    location.href = "../../Zero/Search?material=" + $('#txtMaterial').val() + "&index=0";
                });
        });

        function SetTopMenu() {
            var cookie = $.cookie("userInfo");
            if (cookie !== "null" && cookie !== undefined) {
                var userInfo = JSON.parse(cookie);
                $('#loginLi').addClass('hidden');
                $('#userLi').removeClass('hidden');
                $.ajax({
                    url: "../../Zero/GetUserName",
                    type: "POST",
                    data: { "username": userInfo.username },
                    success: function (data) {
                        $('#userMsg')[0].innerText = data;
                    }
                });

            }
        }
    </script>
</body>
</html>